html, body {
	background-color: #494f5c;
	color: #c6cddb;
	font: 1rem "Fira Sans", "Helvetica Neue", "Helvetica", sans-serif;
	height: 100%;
	scroll-behavior: smooth;
}

.title, .subtitle {
	color: #c6cddb;
}

a .icon {
	color: #c6cddb;
}

#pseudo-footer {
	margin-top: 4rem;
}

.icon-list {
	margin-left: 1rem;
	margin-right: 1rem;
}

.is-centered {
	justify-content: center;
}
