extends templates/layout.pug

block title
  title Nicholas Hancox | 404

block append stylesheets
  link(href="../css/404.css", rel="stylesheet")

block content
  main
    h1 404
    p The page you were trying to navigate to doesn't exist.
    a(href="/home") Home
