.form-row {
  margin-bottom: 0.2rem;
}

.hit-result {
  margin-right: 1rem;
}

.spell-details {
  margin-bottom: 1rem;
}

#roll-hit {
  margin-right: 0.5rem;
}

#spell > ul {
  margin-top: 0.5rem;
}

#spell > ul > li > ul {
  margin-bottom: 1rem;
}
