@import "../../node_modules/normalize.css/normalize.css";

:root {
	--color-background: #494f5c;
	--color-text: #c6cddb;
	--font-family: sans-serif;
	--font-size: 16px;

	/* Bootstrap Breakpoints */
	--breakpoint-xs: 0px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: var(--font-family);
	font-size: var(--font-size);
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
}

a {
	color: var(--color-text);
}
