doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
      title Nicholas Hancox — Software Engineer

    block stylesheets
      link(href="../css/main.css", rel="stylesheet")

    block scripts
      script(src="../js/main.js", type="module")

  body
    block content
